*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #b0277b, #8ecdff);
}
nav{
    width: 80%;
    position: sticky;
    margin: 1rem auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width : 12rem;
}
.nav-links{
    flex: 2 ;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 1rem;

}
.nav-links ul li a{
    color: black;
    text-decoration: solid; 
}
.information{
    width:64rem;
    height: 100vh;
    position: absolute; 
    top:50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    width:60rem;
    height: 95vh;
    position: absolute; 
    top:3%;
    left: -10%;
    border-radius:50%;
    transform: rotate(0deg);
    transition: 1s;
    

}
.feature img{
    width: 3rem;
    
}
.feature{
    position: absolute;
    
}
.one{
    top: 16rem;
    right:6rem;
}
.two{
   top:3rem;
   left:25rem; 
   transform: rotate(-90deg);
}
.three{
    bottom:16rem ;
    left: 15rem;
    transform: rotate(-180deg);
}
.four{
    bottom:2rem ;
    right:23rem;
    transform: rotate(-270deg);
}
.mobile{
    width: 12rem;
    position: absolute;
    top:50%;
    left: 32%;
    transform: translateY(-50%);
    z-index:1;
}
.controls{
    position: absolute;
    right:10%;
    top:50%;
    transform: translateY(-50%) ;
    text-align: center;
}
.controls h3{
    margin: 1rem 0;
    color: #fff;

}
#upBtn{
    width: 1rem;
    cursor: pointer;
}
#downBtn{
    width: 1rem;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width:0;
    height:0;
    border-top: 20rem solid white;
    border-right: 32rem solid transparent;
    border-bottom: 32rem solid white;
    border-left: 32rem solid white;
    position:absolute;
    left:0;
    top:0;

}









